nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        img(src='assets/images/logo-taswater.png')
      //- a
      ul.nav.navbar-nav.pull-right
        li
          a(href='')
            i.fa.fa-bell
          //- a
        //- li
        li
          a(href='')
            i.fa.fa-envelope
          //- a
        //- li
        li
          a(href='')
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x
              i.fa.fa-user.fa-stack-1x.fa-inverse
            //- fa-stack
            | &nbsp;Amy David
          //- a
        //- li
        li
          a(href='')
            i.fa.fa-sign-out
          //- a
        //- li
        li.hidden-md.hidden-lg.visible-xs
          a.burger-bar(href='#')
            i.fa.fa-bars
          //- a
        //- li
      //- ul
    //- navbar-header
  //- .container-fluid
//- nav
